/* line 1, ../sass/_layout.sass */
.submit-controls {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #cccccc;
}
/* line 5, ../sass/_layout.sass */
.submit-controls .controls {
  text-align: right;
}
/* line 7, ../sass/_layout.sass */
.submit-controls .controls button {
  margin-left: 10px;
}

/* line 4, ../sass/style.sass */
html {
  height: 100%;
}

/* line 7, ../sass/style.sass */
body {
  height: 100%;
  background: url("../images/bg_body.png") repeat-x 50% 0;
  min-width: 960px;
  background-color: #2d4762;
  padding-top: 40px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}
/* line 16, ../sass/style.sass */
body form {
  margin: 0px;
  padding: 0px;
}

/* line 20, ../sass/style.sass */
hr {
  border: 0px;
  border-top: 1px solid #cccccc;
}

/* line 24, ../sass/style.sass */
.content {
  width: 100%;
  min-height: 100%;
  /* background: url('../images/bg_content.jpg') no-repeat 50% 0 */
  background-color: white;
}

/* line 30, ../sass/style.sass */
.main_container {
  margin-top: 0px;
}
/* line 33, ../sass/style.sass */
.main_container .alert {
  margin-top: 15px;
  margin-bottom: 0px;
}

/* line 37, ../sass/style.sass */
.nav_container {
  padding-left: 10px;
}

/* line 41, ../sass/style.sass */
.navbar-inverse .navbar-inner {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.7);
}

/* line 46, ../sass/style.sass */
.main {
  background-color: rgba(0, 0, 0, 0.07);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 25px;
  margin-top: 15px;
  color: black;
}
/* line 47, ../sass/style.sass */
.main h1, .main h2, .main h3, .main h4 {
  margin-top: 0px;
}
/* line 49, ../sass/style.sass */
.main .first {
  margin-top: 0px;
}

/* line 68, ../sass/style.sass */
.loading {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin: 50px auto 0px auto;
}
/* line 75, ../sass/style.sass */
.loading .loading_animation {
  width: 32px;
  height: 32px;
  background: url("../images/ajax-loader.gif") no-repeat center center;
  top: 50%;
  margin-top: -16px;
  display: inline-block;
  position: relative;
}

/* line 84, ../sass/style.sass */
#footer {
  display: none;
}
/* line 86, ../sass/style.sass */
#footer .footer_block {
  opacity: 0.4;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  color: white;
}

/* line 93, ../sass/style.sass */
.clearme {
  clear: both;
}

/* line 96, ../sass/style.sass */
.hidden {
  display: none;
}

/* line 99, ../sass/style.sass */
.nice_list {
  display: block;
  list-style: none;
  clear: both;
  margin: 0px;
}
/* line 104, ../sass/style.sass */
.nice_list li {
  padding: 0px;
}
/* line 106, ../sass/style.sass */
.nice_list li .f {
  float: left;
}
/* line 108, ../sass/style.sass */
.nice_list li .bar {
  line-height: 22px;
  margin: 4px;
  padding: 6px 8px;
  background-color: #dadada;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
}
/* line 116, ../sass/style.sass */
.nice_list li .bar a {
  text-decoration: none;
}
/* line 118, ../sass/style.sass */
.nice_list li .bar em {
  background-color: #999999;
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-style: normal;
  font-size: 10px;
  padding: 4px;
  margin-right: 4px;
  cursor: pointer;
}
/* line 127, ../sass/style.sass */
.nice_list li .bar em:hover {
  background-color: #333399;
}
/* line 129, ../sass/style.sass */
.nice_list .qdetails {
  margin: -9px 10px 10px 4px;
  padding: 10px;
  background-color: #dadada;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 136, ../sass/style.sass */
.top_button {
  float: right;
  margin-left: 14px;
}

/* line 140, ../sass/style.sass */
#import_table {
  margin-top: 15px;
}
/* line 142, ../sass/style.sass */
#import_table .td1 {
  width: 80px;
}
/* line 144, ../sass/style.sass */
#import_table .td2 {
  width: 680px;
}
/* line 146, ../sass/style.sass */
#import_table .td3 {
  width: 50px;
}
/* line 149, ../sass/style.sass */
#import_table tbody {
  display: block;
  height: 250px;
  overflow: scroll;
}
/* line 154, ../sass/style.sass */
#import_table thead {
  display: block;
}

/* line 157, ../sass/style.sass */
#students_table {
  background-color: white;
}

/* line 160, ../sass/style.sass */
.clear {
  clear: both;
}

/* line 163, ../sass/style.sass */
.qoption-edit {
  height: 35px;
}
/* line 165, ../sass/style.sass */
.qoption-edit label {
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 5px 18px 5px 8px;
  margin-right: -10px;
  cursor: pointer;
}
/* line 171, ../sass/style.sass */
.qoption-edit label.qo_correct {
  background-color: #008800;
  color: white;
}
/* line 174, ../sass/style.sass */
.qoption-edit label.qo_correct:hover {
  background-color: #00aa00;
}
/* line 176, ../sass/style.sass */
.qoption-edit label.qo_incorrect {
  background-color: #880000;
  color: white;
}
/* line 179, ../sass/style.sass */
.qoption-edit label.qo_incorrect:hover {
  background-color: #aa0000;
}
/* line 181, ../sass/style.sass */
.qoption-edit input {
  display: inline-block;
}

/* line 184, ../sass/style.sass */
#sel_lessons {
  width: 700px;
}
