.datas-margin {
	margin-right: 20px;
	padding-right: 20px !important;
	border-right: 1px solid #FFFFFF;
}

.table .label {
	margin-bottom: 3px;
}

.testPhoneContainer {
	margin: -6px 0px 0px 0px;
	line-height: 17px;
}

.testingMessage span {
	font-size: 12px;
}
.testingMessage .testPhone {
	font-weight: bold;
}

.emulateLoading {
	position: absolute;
	background-color: rgba(0,0,0,0.7);
	color: white;
	text-align: center;
	margin: 10px;
	padding: 6px 18px;
	z-index: 9999999;
	
}

.limitHeight {
	height: 450px;
	overflow: scroll;
}

#cronRowTemplate {
	display: none;
}

.report_msgs {
	padding: 12px;
	background-color: #DFDFDF;
}

.report_msg_1 {
	margin: 6px;
	background-color: #EEFFEE;	
	border: 1px solid #008800;
}
.report_msg_2 {
	margin: 6px;
	background-color: #EEEEFF;
	border: 1px solid #0000AA;
}

