.datas-margin {
	margin-right: 20px;
	padding-right: 20px !important;
	border-right: 1px solid #FFFFFF;
}


.testPhoneContainer {
	margin: -6px 0px 0px 0px;
	line-height: 17px;
}

.testingMessage span {
	font-size: 12px;
}
.testingMessage .testPhone {
	font-weight: bold;
}

.emulateLoading {
	position: absolute;
	background-color: rgba(0,0,0,0.7);
	color: white;
	text-align: center;
	margin: 10px;
	padding: 6px 18px;
	z-index: 9999999;
	
}

.logMessages, .logTesting {
	height: 450px;
	overflow: scroll;
}

#cronRowTemplate {
	display: none;
}