<% students.forEach(function(stu) { %>

  <hr>
  <h1><%=stu.phone%></h1>

  <div class='report_msgs'>
  <% if (stu.messages) { %>



    <% stu.messages.forEach(function(msg) { %>
      <% if (msg.from == 'smsprep') { %>
        <div class='report_msg_1'>
      <% } else { %>
        <div class='report_msg_2'>
      <% } %>

        <% if (msg.msg.indexOf("ePrep") > -1) { %>
          Welcome to smsPREP! Reply CONFIRM to get started.\nAt any time, send HELP for help or STOP to end.\nInfo: smsprep.com\nMsg+DataRatesMayApply
        <% } else { %>
          <%=msg.msg%>
        <% } %>

      </div>
    <% }); %>



  <% } %>
  </div>

<% }); %>