<div class='main'>
  <h1>Welcome to smsPREP!</h1>

  <form action="/join" method="post">
      <div>
          <input autocomplete="off" placeholder="Your username" type="text" name="username"/>
      </div>
      <div>
          <input autocomplete="off" placeholder="Your password" type="password" name="password"/>
      </div>
      <div>
          <input type="submit" class='btn' value="Create account"/>
      </div>
  </form>

</div>

