<div style='margin-top: 200px; text-align: center'>
	<img src='public/images/logo.png' style='margin-bottom: 50px' />
	<p><b>Stay tuned. We're up to something big.</b></p>
	<p>team@smsprep.com</p>
</div>