<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ruluko' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400' rel='stylesheet' type='text/css'>

    <link rel='stylesheet' href='/public/stylesheets/bootstrap/bootstrap.css' />
  </head>
  <body style='padding-top: 0px'>
  <div class="content">

    <div class="container main_container">
      <%-body%>
    </div>
  </div>


  </body>
</html>
