<div class='main' id='admin_content'>

 	<h1>Review Content</h1>
	<ul class='nice_list'>
	<% for(var i=0; i<lessons.length; i++) { %>
		<% var str_code = lessons[i].code %>
		<li>
			<a href='/content/<%=str_code%>'><%=str_code%></a>
		</li>
	<% } %>
	</ul>

	<hr>

 	<h1>Import Content</h1>
	<ul class='nice_list'>
	<% for(var x=0; x<files.length; x++) { %>
		<% var filename = files[x] %>
		<% // filename = filename.replace(".html", ".web"); %>
		<li>
			<a href='/content/import/<%=filename%>'><%=filename%></a>
		</li>
	<% } %>
	</ul>  
 
</div>
<div class='page_dashboard'> </div>