<div class='main' id='admin_content_detail'>

	<a class='top_button btn btn-info' href='/content'>Back to Content</a>
	<h1><%= codes.test_code %> &raquo; <%= codes.lesson_code %></h1>

	<ul class='nice_list' id='questions_list'>
	<% for(var i=0; i<questions.length; i++) { %>
		<% var q = questions[i]; %>
		<li>
			<a href='#'><%= q.text %></a>
			<div class='qdetails hidden'>
				<ul class='options'>

				<% for(var o=0; o<q.options.length; o++) { %>
					<% var cur_o = q.options[o]; %>
					<li>
						<%= cur_o.text %>
						<% if (cur_o.correct) { %>
							 (correct)
						<% } else { %>

						<% } %>
					</li>
				<% } %>
				</ul>
			</div>
		</li>
	<% } %>
	</ul>

</div>