<div id='landing_container'>
	<img src='/public/img/logo.png' class='landing_logo'/>

	<div class="panel panel-info landing_message">
		<div class="panel-heading">
			<b>Stressed about the SAT/ACT? Try real practice questions via SMS.</b>
			<br />It's fun. It's simple. It's free.
		</div>
	</div>

	<% if (success_flash != '') { %>

		<div class="panel panel-success">
			<div class="panel-heading">
				<b>Congratulations! Your smsPREP account has been created!</b>
				<br />You will receive a welcome SMS in a few seconds.
			</div>
		</div>

	<% } else { %>

		<div class="cta_panel">
			<a href="#" class="cta_button btn btn-lg btn-primary">Try it for free now!</a>
		</div>

	<% } %>

	<form class="form-horizontal signup_form" role="form" method="POST" action="/landing/signup">

		<div class="form-group panel panel-info fieldgroup">
			<label for="phonenumber" class="col-sm-6 control-label">What is your cellphone number?</label>
			<div class="col-sm-6">
				<input required class="form-control" id="phonenumber" placeholder="11-digit cellphone number" name="phonenumber" 
				data-validation-regex-regex="<%=allowed_first_digit%>[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]" data-validation-regex-message="Please enter a valid 11-digit cellphone number">
				<p class="help-block"></p>
			</div>
		</div>

		<div class="form-group panel panel-info fieldgroup">
			<label for="timezone" class="col-sm-6 control-label">What timezone are you in?</label>
			<div class="col-sm-6">
				<select name='timezone' id='timezone' size='1' class='sel2'>
					<option value='PST'>PST</option>
					<option value='MST'>MST</option>
					<option value='CST'>CST</option>
					<option value='EST' selected>EST</option>
				</select>
				<p class="help-block"></p>
			</div>
		</div>
 
		<div class="form-group panel panel-info fieldgroup">
			<label for="course" class="col-sm-6 control-label">What course are you preparing?</label>
			<div class="col-sm-6">
				<select name='course' id='course' size='1' class='sel2'>
					<option value='ACT'>ACT</option>
					<option value='SAT' selected>SAT</option>
				</select>
				<p class="help-block"></p>
			</div>
		</div>

		<div class="form-group panel panel-info fieldgroup">
			<label for="schedule" class="col-sm-6 control-label">When would you like to practice?</label>
			<div class="col-sm-6">
				<select required multiple name='schedule' id='schedule' class='sel2' >
					<option value='morning'>Morning</option>
					<option value='afternoon' selected>Afternoon</option>
					<option value='evening'>Evening</option>
					<option value='night'>Night</option>
				</select>
				<p class="help-block"></p>
			</div>
		</div>

		<div class="form-group panel panel-info fieldgroup">
			<label for="email" class="col-sm-6 control-label">What is your email? (optional)</label>
			<div class="col-sm-6">
				<input class="form-control" id="email" name="email" type="email" placeholder="your@email.com">
				<p class="help-block"></p>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-12" style='text-align: center'>
				<div style='width: 84px; display: inline-block; position: absolute; left: 111px; opacity: 0.5; margin-top: 2px; '>
					<button type="button" class="btn btn-danger btn-sm cancelBtn">Cancel</button>
				</div>
				<button type="submit" class="btn btn-primary">Get my free account!</button>
			</div>
		</div>
	</form>





</div>
<script src="/public/js/_landing.js"></script>